Repository yujunz/gitlab.com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-alertmanager, update_elastic_log_gprd_ilm, update_elastic_log_gprd_watches, update_elastic_log_gprd_index_templates, update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_watches, update_elastic_nonprod-log_ilm, update_elastic_nonprod-log_index_templates, update_elastic_nonprod-log_cluster_settings, update_elastic_security_dev_ilm, update_elastic_security_dev_watches, update_elastic_security_dev_index_templates, update_elastic_security_dev_cluster_settings, update_elastic_monitoring-es7_cluster_settings, update_elastic_monitoring-es7_ilm, test_dashboards, docker_image_test, alertmanager_test

update-alertmanager:
  stage: alertmanager
  environment: ops
  tags:
  - release
  script:
  - make test-alertmanager
  - cd alertmanager
  - ./update.sh

update_elastic_log_gprd_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/ILM/update-ilm.sh

update_elastic_log_gprd_watches:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/watches/update-watches.sh

update_elastic_log_gprd_index_templates:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/index-templates/update-index-templates.sh

update_elastic_log_gprd_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/cluster-settings/update-cluster-settings.sh

update_elastic_nonprod-log_watches:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/watches/update-watches.sh

update_elastic_nonprod-log_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/ILM/update-ilm.sh

update_elastic_nonprod-log_index_templates:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/index-templates/update-index-templates.sh

update_elastic_nonprod-log_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/cluster-settings/update-cluster-settings.sh

update_elastic_security_dev_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/security_dev/ILM/update-ilm.sh

update_elastic_security_dev_watches:
  stage: deploy
  script:
  - ./elastic/managed-objects/security_dev/watches/update-watches.sh

update_elastic_security_dev_index_templates:
  stage: deploy
  script:
  - ./elastic/managed-objects/security_dev/index-templates/update-index-templates.sh

update_elastic_security_dev_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/security_dev/cluster-settings/update-cluster-settings.sh

update_elastic_monitoring-es7_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/monitoring-es7/cluster-settings/update-cluster-settings.sh

update_elastic_monitoring-es7_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/monitoring-es7/ILM/update-ilm.sh

test_dashboards:
  before_script:
  - ./scripts/bundler.sh
  - dashboards/generate-mixins.sh
  stage: test
  script:
  - dashboards/upload.sh -D

docker_image_test:
  image: docker:stable
  services:
  - docker:dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  stage: test
  script:
  - docker build .

alertmanager_test:
  stage: test
  script:
  - make test-alertmanager

increase number of primary shards to 8
  elastic/managed-objects/lib/settings_gprd.libsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
Due: update_elastic_log_gprd_ilm, update_elastic_log_gprd_index_templates

Rollover high traffic log ES shards at 15GB
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
Due: update_elastic_log_gprd_ilm

increase number of shards for gke and set static mappings
  elastic/managed-objects/lib/log_gprd_index_template.libsonnet
  elastic/managed-objects/lib/settings_gprd.libsonnet
Due: update_elastic_log_gprd_index_templates

Adds more instructions to help the oncall with local k8s setup
  docs/uncategorized/k8s-oncall-setup.md
Due: none

Make pagerduty alerts repeat every 2h, not every 8h
  alertmanager/alertmanager.jsonnet
Due: update-alertmanager, alertmanager_test

Add CLUSTER and REGION for alertmanager deploy
  .gitlab-ci.yml
  alertmanager/alertmanager.jsonnet
Due: update-alertmanager, alertmanager_test

add gke-systemd to high to cope with an incoming flood of logs
  elastic/managed-objects/lib/settings_gprd.libsonnet
Due: update_elastic_log_gprd_index_templates

Bump target shard size for high-throughput indices back to 20GB
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
Due: update_elastic_log_gprd_ilm

Include Gitaly Ruby in Host Detail dashboard
  dashboards/gitaly/host-detail.jsonnet
Due: none

Adds gitlab-shell deployment to dashboards
  dashboards/git/shell-pod.dashboard.jsonnet
  dashboards/kubernetes_pods_common.libsonnet
Due: none

Path conditions:
  update-alertmanager: any of: alertmanager/*
  update_elastic_log_gprd_ilm: any of: elastic/managed-objects/log_gprd/ILM/*
  update_elastic_log_gprd_watches: any of: elastic/managed-objects/log_gprd/watches/*
  update_elastic_log_gprd_index_templates: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_log_gprd_cluster_settings: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update_elastic_nonprod-log_watches: any of: elastic/managed-objects/nonprod-log/watches/*
  update_elastic_nonprod-log_ilm: any of: elastic/managed-objects/nonprod-log/ILM/*
  update_elastic_nonprod-log_index_templates: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_nonprod-log_cluster_settings: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update_elastic_security_dev_ilm: any of: elastic/managed-objects/security_dev/ILM/*
  update_elastic_security_dev_watches: any of: elastic/managed-objects/security_dev/watches/*
  update_elastic_security_dev_index_templates: any of: elastic/managed-objects/security_dev/index-templates/*
  update_elastic_security_dev_cluster_settings: any of: elastic/managed-objects/security_dev/cluster-settings/*
  update_elastic_monitoring-es7_cluster_settings: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update_elastic_monitoring-es7_ilm: any of: elastic/managed-objects/monitoring-es7/ILM/*
  test_dashboards: any of: ./dashboards/**, ./metrics-catalog/**, ./libsonnet/**, ./service-catalog/**
  docker_image_test: any of: Dockerfile
  alertmanager_test: any of: alertmanager/*
